body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6C9;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container h1{
    color:#153462;
    font-size: 40px;
    font-family: "Trebuchet MS", sans-serif	;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BAD1C2;
    border: 2.5px solid #BAD1C2;
    border-radius: 8px;
    margin-right: 15px;
}

button{
    width: 150px;
    height: 50px;
    border: 2.5px solid #4FA095;
    background-color: #4FA095;
    color: white;
    border-radius: 8px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}

button:hover{
    opacity: .9;
    transition: 0.3;    
}

.container{
    display:grid;
    width: 960px;
    height: 960px;
    max-width: 960px;
    max-height: 960px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    /* grid-gap: 3px; */
    border: 0.05px solid #BAD1C2;
    border-radius: 8px;
}

.container div{
    width:auto;
    height:auto;
    border: 0.05px solid #BAD1C2;
    border-radius: 2px;
}

/* .container div:hover{
    transition: 0.5s;    
    background-color: #6A5ACD;
} */